<article class="media">
  <section>
    <h2>Supercharge your workflow</h2>
    <p>We've got the tools to boosdt your productivity</p>
  </section>
  <section>
    <img src="images/icon-blacklist.svg" alt="" />
    <h3>Create blacklists</h3>
    <p>
      Ensure sensitive information never makes its way to your clipboard by
      excluding certain sources
    </p>
  </section>
  <section>
    <img src="images/icon-text.svg" alt="" />
    <h3>Plain text snippets</h3>
    <p>Remove unwantd formatting from copied text for a consistent look.</p>
  </section>
  <section>
    <img src="images/icon-preview.svg" alt="" />
    <h3>Sneak preview</h3>
    <p>Quick preview of all snippets on your Clipboard for easy access.</p>
  </section>
</article>
