<article class="snippets">
  <section class="span-2">
    <h2>Keep track of your snippets</h2>
    <p class="description .span-2">
      Clipboard instantly stores any item you copy in the cloud, meaning you can
      access your snippets immediately on all yourt devices. Our Mac and iOS
      apps will help you organize everything.
    </p>
  </section>
  <img src="images/image-computer.png" alt="" />
  <section class="snippets__features">
    <section>
      <h3>Quick Search</h3>
      <p>
        Easily search your snippets by content, category, web address,
        application and more.
      </p>
    </section>
    <section>
      <h3>iCloud sync</h3>
      <p>Instantly saves and syncs snippets across all your devices.</p>
    </section>
    <section>
      <h3>Complete History</h3>
      <p>
        Retrieve any snippets from the first moment you started using the app.
      </p>
    </section>
  </section>
</article>
